<div class="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <label for="email">Email</label>
      <input type="email" formControlName="email" id="email" required>
  
      <div class="error-message" *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
        Please enter a valid email.
      </div>
  
      <label for="password">Password</label>
      <div class="password-container">
            <input type="password" formControlName="password" id="password" [type]="showPassword ? 'text' : 'password'" required>
            <button class="eye-button" (click)="toggleShowPassword()">
              <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'">Show password</i>
             </button>
            <div class="error-message" *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
            Please enter a password.
            </div>
      </div>
  
      <button type="submit">Login</button>
    </form>
  </div>
  